<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ZAP Station</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/menu.css">
		<link rel="stylesheet" type="text/css" href="/Producer.css">
</head>

<body>

	<!-- Menu bar at the top will be displayed here using ejs. -->
	<header>
		<%- include('../partials/header'); %>
	</header>

	<!-- The menu at the bottom will be displayed here using ejs. -->
	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>
</html>